<p>ceci est le show</p>

<h1> <%= @article.title %> </h1>
<p> <%= @article.content %> </p>

<%= link_to 'return to articles index', articles_path %>
<%= link_to 'edit this article', edit_article_path %>
